<!DOCTYPE html>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<html>
<th:block th:replace="/common/layout.html :: head('메인 페이지')"></th:block>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<html xmlns:th="http://www.thymeleaf.org">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript">
	function changeName() {
		var testlog = $("#selectname").val();
		var url = "/getlog?user_num=" + testlog;
		location.href = url;
	}
</script>
<title>user 사용량</title>
</head>
<th:block th:replace="/common/header :: header"></th:block>
<body>
	<div class="container text-center">
		<div class="row row-cols-2" >
			<div class="col" style="height: 10%;">
				사용자 : <select name="selectname" id="selectname"
					onchange="changeName()">
					<option th:text="선택하세요"></option>
					<option th:each="user : ${userList}" th:value="${user.user_num}">[[${user.user_name}]]
						([[${user.user_num}]])</option>
				</select>
			</div>
			<div class="col">
				<div style="height: 400px; overflow: scroll;">
					<table border="1">
						<tr>
							<th>번호</th>
							<th>로그 고유 번호</th>
							<th>이름</th>
							<th>request</th>
							<th>date</th>
						</tr>
						<tr th:each="userloglist ,i : ${userloglist}"
							th:with="logcount = ${1}">
							<td th:text="${logcount}"
								th:with="logcount = ${logcount+i.index}"></td>
							<td th:text="${userloglist.user_lognum}"></td>
							<td th:text="${userloglist.user_name}"></td>
							<td th:text="${userloglist.user_do}"></td>
							<td th:text="${userloglist.user_date}"></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col" style="margin-bottom:40%;">
				<div class="container">
					<div class="row my-3">
						<div class="col-12">
							<h4>요청 chart</h4>
						</div>
					</div>
					<div class="row my-2">
						<div class="col-lg-6">
							<div class="card">
								<div class="card-body">
									<canvas id="myChart1"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col"></div>
		</div>
	</div>
</body>
<!-- 부트스트랩 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<!-- 차트 -->
<script th:inline="javascript">
//<![CDATA[
	data = {
		datasets : [ {
			backgroundColor : [ '#6666CC', '#669966', '#6633FF', '#FFCCCC', '#FFCC99',
					'#CCFF99', '#0099FF', '#33FFCC', '#99FFCC', '#E1F6FA', '#C8D7FF',
					'#50B4FF', '#C8FAC8', '#yellow', '#ACFFEF', '#6FFFC4', '#5CEEE6',
					'#74D19D', '#FFE1E6', '#FFCFDA', '#FFBEF5', '#FFFA78', '#FF5050',
					'#828282', '#D7AC87', '#F4FFFF', '#CDECFA', '#FFEBF0' ],
			data : /*[(${labels})]*/
		} ],
		labels : /*[(${data})]*/
	};
	var ctx1 = document.getElementById("myChart1");
	var myPieChart = new Chart(ctx1, {
		type : 'pie',
		data : data,
		options : {}
	});  //]]>
</script>
<th:block th:replace="/common/footer :: footer"></th:block>
</html>