<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" />
<html>
<head>
<meta charset="UTF-8">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<title>이메일 인증</title>

<script th:inline="javascript">
	/*<![CDATA[*/

	var EAuthCode = /*[[${EAuthCode}]]*/;
	var user_email = /*[[${user_email}]]*/
	$(document).ready(function() {
		if (EAuthCode != null) {
			$("#user_email").val(user_email);
			$("#AuthCode").val(EAuthCode);
			$("#AuthCode").attr("disabled", false);
		}
	})
	
</script>
<script>
	$(document).ready(function() {
		$("#sendingemail").click(function() {
			if ($("#user_email").val() == "") {
				alert("이메일을 입력해 주세요");
				return false;
			}
			if ($("#user_email").val() != "") {
				var user_email = $("#user_email").val();
				var url = "/searchinfo?user_email=" + user_email;
				location.href = url;
			}
		})
		$("#Authbutton").click(function() {
			if ($("#AuthCode").val() == "") {
				$("#message").text("인증번호를 입력해주세요");
				$("#AuthCode").focus();
			}
			if ($("#AuthCode").val() != "") {
				if($("#AuthCode").val()==EAuthCode){
					var joinpara = '/join?user_email='+user_email;
				location.href =joinpara ;
				}
				if($("#AuthCode").val()!=EAuthCode){
					$("#message").text("인증번호가 일치하지 않습니다");
					$("#AuthCode").focus();
					$("#AuthCode").val("");
				}
			}
		})
	})
	/*]]>*/
</script>

</head>
<body>
	<table id="tab">
		<tr>
			<td width="80">이메일</td>
			<td><input type="text" name="user_email" id="user_email"></td>
			<td><input type="button" name="sendingemail" id="sendingemail"
				value="인증"></td>
		</tr>
		<tr id="membernotex">
			<td width="80">인증번호</td>
			<td><input type="text" name="AuthCode" id="AuthCode"
				disabled="true" required value=""></td>
			<td><input type="button" name="Authbutton" id="Authbutton"
				value="확인"></td>
		</tr>
		<tr>
			<td id="message" colspan="2" style="color: red"></td>
		</tr>
	</table>

	</script>
</body>
</html>

