<!DOCTYPE html>
<html>
<head>
<html xmlns:th="http://www.thymeleaf.org" />
<th:block th:replace="/common/layout.html :: head('메인 페이지')"></th:block>
<meta charset="UTF-8">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript"
	src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
	charset="utf-8"></script>
<meta charset="UTF-8">
<title>회원정보가 없습니다</title>
<style type="text/css">
div.div-container {
	display: none;
}
</style>
<script>
	$(document).ready(function() {
		$('div').fadeIn(700);
	});
</script>
</head>
<th:block th:replace="/common/header :: header"></th:block>
<body>
	<div class="dwrap">
		<div class="container mt-5" align="center"
			style="padding-top: 150px; padding-left: 7%; min-height: 500px;">
			<div class="row">
				<div class="col-sm-4">
					<h2></h2>
					<h5></h5>
					<div class="fakeimg">
						<img style="width: 200px;" src="/img/nope.png">
					</div>
				</div>
				<div class="col-sm-8">
					<h2></h2>
					<h5></h5>
					<br>
					<div class="fakeimg">
						<div class="div-container">
							<h2>등록된 회원정보가 없습니다</h2>
							<a href="/login">로그인으로 이동</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<th:block th:replace="/common/footer :: footer"></th:block>
</html>