<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" />
<html>
<head>
<th:block th:replace="/common/layout.html :: head('메인 페이지')"></th:block>
<meta charset="UTF-8">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript"
	src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
	charset="utf-8"></script>
<meta charset="UTF-8">
<style type="text/css">
footer.foot {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

div {
	display: none;
}

div.div-container {
	height: 40%;
	padding-left: 60%;
	padding-top: 17%;
}
</style>
<script>
	$(document).ready(function() {
		$('div').fadeIn(700);
	});
</script>
<title>비밀번호 찾기</title>
</head>
<body>
	<div class="div-container">
		<h2>비밀번호 시키신분~~</h2>
		<span>비밀번호 : </span> <span th:text="${password}"> </span>
		<p>
			<a href="/login">peer에 로그인 하러 가기</a>
		</p>
	</div>
</body>
<footer class="foot">
	<th:block th:replace="/common/footer :: footer"></th:block>
</footer>
</html>