<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- header 부분 -->
<div th:fragment="header" class="#">
	<body>
<header class="p-3 text-bg-light">
    <div class="container">
      <div class="d-flex flex-wrap align-items-left justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          	<svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><img src="img/peer_logo.png" width="80px"></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-1 justify-content-center mb-md-0">
          	<li><a href="#" class="nav-link px-2 text-secondary"><span><b>게시판</b></span></a></li>
        </ul>

        <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"></div>

		<!-- 비로그인시 -->
        <div class="text-end" th:if="${session.loginUser == null}">
        	<button type="button" class="btn btn-primary" 
        		onclick="location.href='#'"><b>로그인</b></button>
        </div>
		<!-- 로그인시 -->
		<!-- 일반회원 -->
			<div>
	  			<button class="btn btn-outline-dark">
	    			위시리스트
	  			</button>
			</div>
	        <div class="text-end" style="margin-left:10px">
	        	<div class="dropdown">
		  			<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
		    			메뉴
		  			</button>
		  			<ul class="dropdown-menu dropdown-menu" id="main-dropdown">
		    			<li><a class="dropdown-item" onclick="messagePopup()">쪽지</a></li>
		    			<!-- 쪽지 팝업창 -->
		    			<script>
        				function messagePopup(){
            				window.open("#","쪽지","width=400, height=300, top=20, left=20");
        				}
    					</script>
		    			<li><a class="dropdown-item" href="#">예약 내역 확인</a></li>
		    			<li><a class="dropdown-item" href="#">회원 정보 수정</a></li>
		    			<!-- 드롭다운 구분선 -->
		    			<li><hr class="dropdown-divider"></li>
		    			<li><a class="dropdown-item" href="#">로그아웃</a></li>
					</ul>
				</div>
			</div>
		<!-- 호스트회원 -->
	        <div class="text-end" style="margin-left:10px">
	        	<div class="dropdown">
		  			<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
		    			메뉴
		  			</button>
		  			<ul class="dropdown-menu dropdown-menu" id="main-dropdown">
		    			<li><a class="dropdown-item" onclick="messagePopup()">쪽지</a></li>
		    			<li><a class="dropdown-item" href="#">쪽지</a></li>
		    			<li><a class="dropdown-item" href="#">숙소 관리</a></li>
		    			<li><a class="dropdown-item" href="#">회원 정보 수정</a></li>
		    			<!-- 드롭다운 구분선 -->
		    			<li><hr class="dropdown-divider"></li>
		    			<li><a class="dropdown-item" href="#">로그아웃</a></li>
					</ul>
				</div>
			</div>
      </div>
    </div>
</header>
</html>