<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Peer Admin</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
.fakeimg {
	width: 350px;
	height: 200px;
}
</style>
</head>
<body style>


	<div class="p-5 bg-primary text-white text-center">
		<h1>peer</h1>
		<p style="font-size: 10pt;">필요하신 사항은 관리자에게 문의하세요.</p>
	</div>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<div class="container-fluid">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link active"
					href="/call.AdminPage">회원정보변경</a></li>
				<li class="nav-item"><a class="nav-link active" href="/logview">로그</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item"><a class="nav-link disabled" href="#">관리자문의</a>
				</li>
			</ul>
		</div>
	</nav>

	<div style="min-height: 800px;">

		<div class="container mt-5">
			<div class="row">
				<div class="col-sm-4">
					<h2>About Company</h2>
					<h5>Photo of our:</h5>
					<div class="fakeimg"
						style="background-image: url('/img/peer_logo.png'); background-size: 100px;"></div>
					<p>
					<h6>뿌링클이 굉장히 먹고 싶은 나에요.</h6>
					</p>
					<br>

					<h3 class="mt-4">Page Links</h3>
					<p>Home - 서비스 페이지로 이동</p>
					<ul class="nav nav-pills flex-column">
						<li class="nav-item"><a class="nav-link active" href="#">Active</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link disabled" href="#">관리자문의</a>
						</li>
					</ul>
					<hr class="d-sm-none">
				</div>
				<div class="col-sm-8">
					<h2>User</h2>
					<h5>Filter Place</h5>
					<table align="center" class="table table-dark">
						<tr align="center">
							<th>이름</th>
							<th>닉네임</th>
							<th>가입일</th>
							<th>계정상태</th>
							<th>버튼</th>
						</tr>
						<tr th:each="list : ${users}" align="center">
							<td>[[${list.user_name}]]</td>
							<td>[[${list.user_nickname}]]</td>
							<td>[[${list.user_rege}]]</td>

							<td><th:block th:if="${list.user_authority} == 1">활성화</th:block>
								<th:block th:if="${list.user_authority} == 3">정지</th:block></td>

							<td><th:block th:if="${list.user_authority} == 1">
									<input class="btn btn-danger btn-sm" type="button" value="정지"
										th:onclick="|location.href='@{Suspension.Admin(user_num = ${list.user_num})}'|">
								</th:block> <th:block th:if="${list.user_authority} == 3">
									<input class="btn btn-success btn-sm" type="button" value="활성화"
										th:onclick="|location.href='@{Access.Admin(user_num = ${list.user_num})}'|">
								</th:block></td>
						</tr>
					</table>

				</div>
			</div>
		</div>

	</div>

	<div class="mt-5 p-4 bg-dark text-white text-center">
		<p style="font-size: 10pt;">기타 문의사항은 관리자에게 해주세요.</p>
	</div>

</body>
</html>