<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head('메인 페이지') 수정하면 수정한 타이틀 들어갑니다 -->
<th:block th:replace="/common/layout.html :: head('숙소정보 페이지')"></th:block>
<th:block th:replace="/common/header :: header"></th:block>
<head>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">

<!-- 달력 -->
<link rel="stylesheet" href="/css/daterangepicker.css">


</head>
<!-- 사용 하는곳 -->

<div>
	<!-- 숙소명 -->
	<table style="width: 800; height: 100;" align="center">
		<tr>
			<td height="50"></td>
		</tr>
	</table>
</div>
<div>
	<!-- 숙소명 -->
	<table style="width: 800; height: 100; position: relative;"
		align="center">
		<tr>
			<td height="100"></td>
		</tr>
	</table>
</div>

<div>
	<!-- 숙소명 -->
	<table class="community" style="width: 800; height: 100; align: left;">
		<tr style="align: left;">
			<td style="height: 50; align: left;"></td>
		</tr>
	</table>
</div>

<div>
	<!-- 숙소명 -->
	<table width="1100" height="100" align="center">
		<tr>
			<td class="community" width="70" height="50">숙소명 :</td>
			<td class="community" th:text="${hcont.house_name}"></td>
			<td class="community" width=""></td>
		</tr>
	</table>
</div>

<div>
	<!-- 주소, 공유하기, 위시리스트 버튼 -->
	<table width="1100" height="100" align="center">
		<tr>
			<td class="community" width="150" height="50">주소 :</td>
			<td class="community" th:text="${hcont.house_address}"></td>
			<td class="community" width="100" style="text-decoration: underline;">
				<a th:href="@{/addwishlist.Intercept?house_num=}+${hcont.house_num}">
				<img width="30" height="30" src="img/book/heartoff.png">저장
				</a>
			</td>
		</tr>
	</table>
</div>

<div>
	<!-- 사진 테이블 -->
	<table width="1100" height="400" border=0 align="center">
		<tr>
			<td width="30" rowspan="2"><img width="540" height="360"
				src="img/book/houseimage1.png"></td>
			<td><img width="260" height="160" src="img/book/houseimage2.png">
			</td>
			<td><img width="260" height="160" src="img/book/houseimage3.png">
			</td>
		</tr>
		<tr>
			<td><img width="260" height="160" src="img/book/houseimage4.png">
			</td>
			<td><img width="260" height="160" src="img/book/houseimage5.png">
			</td>
		</tr>
	</table>
</div>

<div>
	<!-- 호스트명, 숙소 정보 -->
	<table width="1100" height="500" align="center">
		<div>
			<tr align="left">
				<td class="community" width=150>호스트명 : 준화 님</td>
				<td class="community" th:text="${hcont.user_num}" width=""></td>
				<td class="community" rowspan="2" width=550><br> <br>
					
					<div>
					
						<input type="date" id="checkin" name="checkin" class="community">

						<input type="date" id="checkout" name="checkout" class="community"
							onchange="calc()">
						<form>
							<select name="peoplenum" id="peoplenum"
								class="form-control custom-select" style="width: 80px">
								<script>
									for (i = 1; i <= 10; i++) {
										document.write("<option value='");
										document.write(i + "'>");
										document.write(i + "명</option>");
									}
								</script>
							</select>
						</form>

						<form>
							<input type="text" id="days" name="days" size="5"
								style="text-align: center;"> 박
						</form>
						
						<form action="">
							<input type="text" id="total_price" name="total_price">							
						</form>
						
					</div>
					<div align="center">
						<br>
						<!-- 예약하기 버튼 -->
						<button class="community" id="iamportPayment" type="button"
							onclick="iamportPayment"
							style="width: 100px; height: 40px; border-radius: 4px;">결제하기</button>
					</div> <br></td>
			</tr>
		<tr>
			<td width="150" class="community">숙소 정보 :</td>
			<td class="community" th:text="${hcont.house_detail}" width=""></td>
		</tr>
		</div>
	</table>
</div>


<br>
<br>
<br>



<th:block th:replace="/common/footer :: footer"></th:block>

<script type="text/javascript">
	function calc() {		// checkin, checkout 태그값 불러와서 날짜 차이값(=예약 일수) 계산
		var sdd = $("#checkin").val();
		var edd = $("#checkout").val();
		var ar1 = sdd.split('-');
		var ar2 = edd.split('-');
		var da1 = new Date(ar1[0], ar1[1], ar1[2]);
		var da2 = new Date(ar2[0], ar2[1], ar2[2]);
		var dif = da2 - da1;
		var cDay = 24 * 60 * 60 * 1000;// 시 * 분 * 초 * 밀리세컨
		var cMonth = cDay * 30;// 월 만듬
		var cYear = cMonth * 12; // 년 만듬
		if (sdd && edd) {
			document.getElementById('years').value = parseInt(dif / cYear)
			document.getElementById('months').value = parseInt(dif / cMonth)
			document.getElementById('days').value = parseInt(dif / cDay)
		}
	}
</script>

<form action="">	<!-- 일수 구하기 함수에 필요 -->
	<br> 
	<input type="hidden" id="years" size="5" style="text-align: center;"> 
	<br> 
	<input type="hidden" id="months" size="5" style="text-align: center;"> 
	<br>
</form>

<!-- <div id="house_num" th:with="house_num='${house_num}'"></div> -->
<form>
	<input type="hidden" id="house_num" th:value="${house_num}"> 
	<input type="hidden" id="hprice_bweek" th:value="${hpcont.hprice_bweek}">
	<input type="hidden" id="hprice_bweekend" th:value="${hpcont.hprice_bweekend}"> 
	<input type="hidden" id="hprice_sweek" th:value="${hpcont.hprice_sweek}"> 
	<input type="hidden" id="hprice_sweekend" th:value="${hpcont.hprice_sweekend}"> 

</form>


<script>
	// house_num과 hprice_bweek를 불러오는 컨트롤러를 다시 만들어보자? 둘 다 값 안나옴. HouseViewController에서 값을 받기 때문에 BookingController에서 헛수고한 꼴이 된거다? 

	var msg;

	function iamportPayment() {
		alert("예약 날짜와 예약 인원을 확인해보세요!");
		//이거 달면 결제 실행 안됨    
		//    var book_num = ${book_num};

		var days = $("#days").val();						// 예약 일수
		var peoplenum = $("#peoplenum").val();				// 예약 인원수
		var house_num = $("#house_num").val();				// 해당 숙소 번호
		var hprice_bweek = $("#hprice_bweek").val();		// 해당 숙소 비성수기 평일
		var hprice_bweekend = $("#hprice_bweekend").val();	// 해당 숙소 비성수기 주말
		var hprice_sweek = $("#hprice_sweek").val();		// 해당 숙소 성수기 평일
		var hprice_sweekend = $("#hprice_sweekend").val();	// 해당 숙소 성수기 주말
		var checkin = $("#checkin").val();
		var checkout = $("#checkout").val();
		var checkin1 = new Date(checkin);					// String값으로 받은 input
		var checkout1 = new Date(checkout);					// 데이터베이스에 날짜 형식으로 전달하기 위해 선언
		
		alert(checkin1);
		alert(checkout1);
		alert("체크인:" + checkin);
		alert("체크아웃:" + checkout);
		alert(days+"박");
		alert("인원:" + peoplenum+"명");

		alert(hprice_bweek);
		alert(hprice_bweekend);
		alert(hprice_sweek);
		alert(hprice_sweekend);
		
		function calcCost(){		// 예약 일수*예약 인원수*숙소1박당가격 = 구하는 함수
			var cost = days * peoplenum * hprice_bweek;
		return cost;
		}
		
		IMP.init('imp80310113'); // 아임포트 관리자 콘솔에서 확인한 '가맹점 식별코드' 입력
		IMP.request_pay({ // param / rsp안의 변수들
			pg : "html5_inicis", // pg사명
			pay_method : "card", // 결제방식
			merchant_uid : "99" + new Date().getTime(),// BOOK_NUM(BOOKING테이블,식별번호)
			name : "peer하우스", // "${HOUSE_NAME}"(HOUSE테이블)
			amount : calcCost(), // "${HOUSE_PRICE}*day"(HOUSE_PRICE테이블)
			buyer_email : "buyerEmail", // "${USER_EMAIL}"(user_info테이블)
			buyer_name : "buyerName", // "${USER_NAME}"(user_info테이블)
			buyer_tel : "01012345678", // "${USER_PHONE}"(user_info테이블)
			buyer_addr : '서울'

		}, function(rsp) { // callback
			if (rsp.success) {

				$.ajax({
					url : 'bookingInsert.do',
					type : 'post',
					dataType : 'json',
					data : {
						"house_num" : house_num,
//						"user_num" : user_num,
						"checkin" : checkin1,
						"checkout" : checkout1,
						"house_price" : hprice_bweek,
						"total_price" : rsp.paid_amount
					},
					success : function(result) {
						alert(result);
						if (result == 1) {
						}
					}
				});
				alert(" 결제가 완료되었습니다. \n imp_uid : " + rsp.imp_uid + 
					"\n merchant_uid : " + rsp.merchant_uid);
				location.replace("payresult");
			} else {
				msg = '결제에 실패하였습니다.';
				msg += '에러내용 : ' + rsp.error_msg + '\n예약날짜, 인원수를 확인해주세요';

				alert(msg);
			}
		});
	}

</script>

<!-- 결제api인 paying.js 파일 불러오기 -->
<script type="text/javascript">
	$(document).ready(function() {
		$("#iamportPayment").click(function() {

			iamportPayment(); // 버튼 클릭하면 호출, #iamportPayment라는 버튼태그는 iamportPayment()함수를 호출
		});
	}) // 버튼 클릭하면 실행
</script>


<!-- 아임포트 결제api를 호출할 준비 -->
<!-- iamport.payment.js -->
<script type="text/javascript"
	src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

<script type="text/javascript" src="/js/daterangepicker.js"></script>
<script type="text/javascript" src="/js/moment.min.js"></script>

</html>