<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>결제페이지</title>
<style type="text/css">
	#li{
		list-style: none;
		float: left;
	}
	#a{
		text-align:left;
		background-color: yellow;
	}
	#b{
		text-align:center;
		background-color:yellow;
	}
	#c{
		text-align:right;
		background-color:;
	}
	
	
</style>
</head>
<body>

	<!-- jQuery -->
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

	<!-- iamport.payment.js -->
	<script type="text/javascript"
		src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

	<div>
		<table width="1100" height="100" border="10" align="center">
			<tr>
				<td width="200" id="b">로고</td>
				<td align="center">검색창</td>
				<td width="100" height="100" align="right"><a href="index.html"><img src="img/BasicProfile.png"></a></td>
			</tr>
		</table>
	</div>

	<div>
		<table width="800" height="100" align="center">
			<tr>
				<td height="50">숙소명</td>
			</tr>
		</table>
	</div>
	
	<div>
		<table width="800" height="100" align="center">
			<tr>
				<td width="600" height="50">주소</td>
				<td width="80"><a href="index.html">공유하기</a></td>
				<td width="100"><a href="img/hearton.png"><img width="100" height="90" src="img/wish/heartoff.png">위시리스트</a></td>
			</tr>
		</table>
	</div>
	
	<div>
		<table width="800" height="400" border="10" align="center">
			<tr>
				<td width="350" rowspan="2"></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
	
	<div>
		<table width="800" height="200" align="center">
			<tr align="left">
				<td>호스트명</td>
			</tr>
			<tr>
				<td>숙소 정보</td>
			</tr>
		</table>
	</div>
	
	<div>
<!-- 		
		<table width="600" height="400" border="1" align="left">
			<tr>
				<td height="50" align="center">
				
				체크인/체크아웃 달력</td>
			</tr>
			
		</table>
-->
		

		<input type="button" id="calendar" value="calendar" src="calendar01.html">

<!-- 	<script type="text/javascript" src="calendar.js"></script>
-->
		
	</div>
	
	<br>
	
	<div align="center">

		<h2>IAMPORT 결제 데모</h2>
		<button type="button" onclick="iamportPayment">예약하기</button>


	</div>
		

<script>

//문서가 준비되면 제일 먼저 실행
$(document).ready(function(){ 
		$("#iamportPayment").click(function(){
		iamportPayment();	// 버튼 클릭하면 호출, #iamport는 iamport()함수를 호출
	}); 
})	// 버튼 클릭하면 실행 
var msg;
function iamportPayment(){
	console.log("결제 진입");
	IMP.init('imp80310113');	// 아임포트 관리자 콘솔에서 확인한 '가맹점 식별코드' 입력
	IMP.request_pay({ // param
	    pg: "html5_inicis",		// pg사명
	    pay_method: "card",		// 결제방식
	    merchant_uid: "00000001"+new Date().getTime(),// BOOK_NUM(BOOKING테이블,식별번호)
	    name: "상품명",						// "${HOUSE_NAME}"(HOUSE테이블)	
	    amount: 100,						// "${HOUSE_PRICE}"(HOUSE_PRICE테이블)
	    buyer_email : "sky66951@naver.com",	// "${USER_EMAIL}"(user_info테이블)
	    buyer_name : "홍길동",				// "${USER_NAME}"(user_info테이블)
	    buyer_tel: "01012345678"			// "${USER_PHONE}"(user_info테이블)

//	    m_redirect_url: m_redirect
//	    confirm_url : 'https://www.naver.com/'
	  },function (rsp) {	// callback
		    if ( rsp.success ) {
		    	//[1] 서버단에서 결제정보 조회를 위해 jQuery ajax로 imp_uid 전달하기
 		    	/* jQuery.ajax({
		    		url: "/payments/complete", //cross-domain error가 발생하지 않도록 주의해주세요
		    		type: 'POST',
		    		dataType: 'json',
		    		data: {
			    		imp_uid : rsp.imp_uid
			    		//기타 필요한 데이터가 있으면 추가 전달
		    		}
		    	}).done(function(data) {
		    		//[2] 서버에서 REST API로 결제정보확인 및 서비스루틴이 정상적인 경우
		    		if ( everythings_fine ) {
		    			msg = '결제가 완료되었습니다.';
		    			msg += '\n고유ID : ' + rsp.imp_uid;
		    			msg += '\n상점 거래ID : ' + rsp.merchant_uid;
		    			msg += '\결제 금액 : ' + rsp.paid_amount;
		    			msg += '카드 승인번호 : ' + rsp.apply_num;
		    			
		    			alert(msg);
		    		} else {
		    			//[3] 아직 제대로 결제가 되지 않았습니다.
		    			//[4] 결제된 금액이 요청한 금액과 달라 결제를 자동취소처리하였습니다.
		    		}
		    	}); */
		    	//성공시 이동할 페이지 아래에 적기
	 
		    	
//		    	alert("결제가 완료되었습니다. \n imp_uid : " + rsp.imp_uid + " \n merchant_uid(orderKey) : " + rsp.merchant_uid);
		    	alert('결제가 완료되었습니다.');
		    	
		    } else {
		        msg = '결제에 실패하였습니다.';
		        msg += '에러내용 : ' + rsp.error_msg;
		        
		        alert(msg);
		    }
		});
}
</script>

</body>
</html>