<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>결제페이지</title>
<style type="text/css">
#bt {
	border-radius: 5px;
}

#a {
	text-align: left;
	background-color: yellow;
}

#b {
	text-align: center;
	background-color: yellow;
}

#c {
	text-align: right;
	background-color:;
}
</style>

<!-- 달력(calendar03.html)을 불러올 준비-->
<script type="text/javascript">
	//페이지가 로드되면 실행한다.

	$(document).ready(function() {

		$("#contents").load("calendar03.html");

		//~이렇게 한줄만 해주면 알아서 contents에 calendar03.html파일을 넣어 준다.

	});
</script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">

<link rel="stylesheet" href="/css/calendar03.css">

</head>
<body>

	<!-- jQuery -->
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

	<!-- 아임포트 결제api를 호출할 준비 -->
	<!-- iamport.payment.js -->
	<script type="text/javascript"
		src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

	<div>
		<table width="1100" height="100" border="10" align="center">
			<tr>
				<!-- 메인화면 상단과 동일하게 할 것 -->
				<td width="200" id="b">로고</td>
				<td width="500" align="center">검색창</td>
				<td width="100" height="100" align="center"><a
					href="index.html">프로필<img></a></td>
			</tr>
		</table>
	</div>

	<div>
		<!-- 숙소명 -->
		<table width="800" height="100" align="center">
			<tr>
				<td height="50">숙소명</td>
			</tr>
		</table>
	</div>

	<div>
		<!-- 주소, 공유하기, 위시리스트 버튼 -->
		<table width="800" height="100" align="center">
			<tr>
				<td width="600" height="50">주소</td>
				<td width="80"><a href="index.html">공유하기</a></td>
				<td width="100"><a href="img/hearton.png"><img width="100"
						height="90" src="img/wish/heartoff.png">위시리스트</a></td>
			</tr>
		</table>
	</div>

	<div>
		<!-- 사진 테이블 -->
		<table width="800" height="400" border="10" align="center">
			<tr>
				<td width="350" rowspan="2"></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>

	<div>
		<!-- 호스트명, 숙소 정보 -->
		<table width="800" height="200" align="center">
			<tr align="left">
				<td>호스트명</td>
			</tr>
			<tr>
				<td>숙소 정보</td>
			</tr>
		</table>
	</div>

	<table style="width: 600px;" border="1" align="center">
		<tr>
			<!-- 캘린더 예약 -->
			<td align="center">예약날짜 <script
					src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>

				<div class="container px-1 px-sm-5 mx-auto"
					style="width: 710px; height: 300px;" align="center">

					<form autocomplete="off" id="calendar_pick">
						<div class="flex-row d-flex justify-content-center">
							<div class="col-lg-6 col-11">
								<div class="input-group input-daterange">
									<input type="text" class="form-control input1" id='checkin' placeholder="체크인" readonly> 
									<input type="text" class="form-control input2" id='checkout' placeholder="체크아웃" readonly>
								</div>
							</div>
						</div>
					</form>
				</div> <script type="text/javascript" src="/js/calendar03.js"></script> <!-- 달력에만 자바스크립트 적용 -->
				인원 수 <input type="number" id="people01" min="1" max="8"
				placeholder="0"> <select name="people01"
				style="width: 50px; height: 30px;">
					<option value=1 selected>1
					<option value=2>2
					<option value=3>3
					<option value=4>4
					<option value=5>5
					<option value=6>6
					<option value=7>7
					<option value=8>8
			</select>

			</td>
		</tr>

		<tr>
			<td>
				<div align="center">
					<br>
					<!-- 예약하기 버튼 -->
					<button id="iamportPayment" onclick="iamportPayment"
						style="width: 100px; height: 40px; border-radius: 4px;">예약하기</button>
				</div> <br>
			</td>
		</tr>
	</table>

	<br>
	<br>
	<br>
	
	<!-- 결제api인 paying.js 파일 불러오기 -->
<script type="text/javascript">
	
$(document).ready(function() {
	$("#iamportPayment").click(function() {
		iamportPayment(); // 버튼 클릭하면 호출, #iamport는 iamport()함수를 호출
	});
}) // 버튼 클릭하면 실행

var msg;

function iamportPayment() {

	IMP.init('imp80310113'); // 아임포트 관리자 콘솔에서 확인한 '가맹점 식별코드' 입력
	IMP.request_pay({ // param / rsp안의 변수들
		pg : "html5_inicis", // pg사명
		pay_method : "card", // 결제방식
		merchant_uid : "99" + new Date().getTime(),// BOOK_NUM(BOOKING테이블,식별번호)
		name : "productName", // "${HOUSE_NAME}"(HOUSE테이블)
		amount : 100, // "${HOUSE_PRICE}*day"(HOUSE_PRICE테이블)
		buyer_email : "buyerEmail", // "${USER_EMAIL}"(user_info테이블)
		buyer_name : "buyerName", // "${USER_NAME}"(user_info테이블)
		buyer_tel : "01012345678", // "${USER_PHONE}"(user_info테이블)
		buyer_addr : '서울',
		buyer_postcode : '123-456'

	}, function(rsp) { // callback
		
		if (rsp.success) {		
			jQuery.ajax({
		    	url: "https://www.myservice.com/payments/complete", // 가맹점 서버
		        method: "POST",
		        headers: { "Content-Type": "application/json" },
		        data: {
		            imp_uid: rsp.imp_uid,
		            merchant_uid: rsp.merchant_uid
		            //기타 필요한 데이터가 있으면 추가 전달
		        }
		    }).done(function(data) { // 응답 처리
		          switch(data.status) {
		            case: "vbankIssued":
		              // 가상계좌 발급 시 로직
		              break;
		            case: "success":
		              // 결제 성공 시 로직
		              break;
		          }
		        });
		    } else {
		      alert("결제에 실패하였습니다. 에러 내용: " +  rsp.error_msg);
		    }
		  });
//		가맹점서버 코드

		  app.use(bodyParser.json());
		  ...
		  // "/payments/complete"에 대한 POST 요청을 처리
		  app.post("/payments/complete", async (req, res) => {
		    try {
		      const { imp_uid, merchant_uid } = req.body; // req의 body에서 imp_uid, merchant_uid 추출
		      
		      // 액세스 토큰(access token) 발급 받기
		      const getToken = await axios({
		        url: "https://api.iamport.kr/users/getToken",
		        method: "post", // POST method
		        headers: { "Content-Type": "application/json" }, // "Content-Type": "application/json"
		        data: {
		          imp_key: "6471873064075181", // REST API키
		          imp_secret: "jK3gBdGp0BD7KdVbpanK7QFDOjl7mGj16jSLAQUlNOJx33suFx5ap52TJOIncMq5K64Y02pvGJhsjRF2" // REST API Secret
		        }
		      });
		      const { access_token } = getToken.data.response; // 인증 토큰
		      
		      // imp_uid로 아임포트 서버에서 결제 정보 조회
		      const getPaymentData = await axios({
		        url: `https://api.iamport.kr/payments/${imp_uid}`, // imp_uid 전달
		        method: "get", // GET method
		        headers: { "Authorization": access_token } // 인증 토큰 Authorization header에 추가
		      });
		      const paymentData = getPaymentData.data.response; // 조회한 결제 정보
		      
		      // DB에서 결제되어야 하는 금액 조회
		      const order = await Orders.findById(paymentData.merchant_uid);
		      const amountToBePaid = order.amount; // 결제 되어야 하는 금액
		      
		      // 결제 검증하기
		      const { amount, status } = paymentData;
		      if (amount === amountToBePaid) { // 결제 금액 일치. 결제 된 금액 === 결제 되어야 하는 금액
		        await Orders.findByIdAndUpdate(merchant_uid, { $set: paymentData }); // DB에 결제 정보 저장
		        
		        switch (status) {
		          case "ready": // 가상계좌 발급
		            // DB에 가상계좌 발급 정보 저장
		            const { vbank_num, vbank_date, vbank_name } = paymentData;
		            await Users.findByIdAndUpdate("/* 고객 id */", { $set: { vbank_num, vbank_date, vbank_name }});
		            // 가상계좌 발급 안내 문자메시지 발송
		            SMS.send({ text: `가상계좌 발급이 성공되었습니다. 계좌 정보 ${vbank_num} \${vbank_date} \${vbank_name}`});
		            res.send({ status: "vbankIssued", message: "가상계좌 발급 성공" });
		            break;
		          case "paid": // 결제 완료
		            res.send({ status: "success", message: "일반 결제 성공" });
		            break;
		        }
		      } else { // 결제 금액 불일치. 위/변조 된 결제
		        throw { status: "forgery", message: "위조된 결제시도" };
		      }
		    } catch (e) {
		      res.status(400).send(e);
		    }
		  });


</script>

</body>
</html>