<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>결제페이지</title>
<style type="text/css">
#bt {
	border-radius: 5px;
}

#a {
	text-align: left;
	background-color: yellow;
}

#b {
	text-align: center;
	background-color: yellow;
}

#c {
	text-align: right;
	background-color:;
}
</style>

<!-- 달력(calendar03.html)을 불러올 준비-->
<script type="text/javascript">
	//페이지가 로드되면 실행한다.
/*
	$(document).ready(function() {

		$("#contents").load("calendar03.html");

		//~이렇게 한줄만 해주면 알아서 contents에 calendar03.html파일을 넣어 준다.

	});
	*/
</script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">

<link rel="stylesheet" href="/css/calendar03.css">

</head>
<body>

	<!-- jQuery -->
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

	<!-- 아임포트 결제api를 호출할 준비 -->
	<!-- iamport.payment.js -->
	<script type="text/javascript"
		src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

	<div>
		<table width="1100" height="100" border="10" align="center">
			<tr>
				<!-- 메인화면 상단과 동일하게 할 것 -->
				<td width="200" id="b">로고</td>
				<td width="500" align="center">검색창</td>
				<td width="100" height="100" align="center"><a
					href="index.html">프로필<img></a></td>
			</tr>
		</table>
	</div>

	<div>
		<!-- 숙소명 -->
		<table width="800" height="100" align="center">
			<tr>
				<td height="50">숙소명</td>
			</tr>
		</table>
	</div>

	<div>
		<!-- 주소, 공유하기, 위시리스트 버튼 -->
		<table width="800" height="100" align="center">
			<tr>
				<td width="600" height="50">주소</td>
				<td width="80"><a href="index.html">공유하기</a></td>
				<td width="100"><a href="img/hearton.png"><img width="100"
						height="90" src="img/wish/heartoff.png">위시리스트</a></td>
			</tr>
		</table>
	</div>

	<div>
		<!-- 사진 테이블 -->
		<table width="800" height="400" border="10" align="center">
			<tr>
				<td width="350" rowspan="2"></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>

	<div>
		<!-- 호스트명, 숙소 정보 -->
		<table width="800" height="200" align="center">
			<tr align="left">
				<td>호스트명</td>
			</tr>
			<tr>
				<td>숙소 정보</td>
			</tr>
		</table>
	</div>

	<table id="reserv_id" name="reserv_name" style="width: 600px;" border="1" align="center">
		<tr>
			<!-- 캘린더 예약 -->
			<td align="center">예약날짜
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
				<script	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
				<script	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>

				<div class="container px-1 px-sm-5 mx-auto"	style="width: 710px; height: 300px;" align="center">

					<form id="calendar_pick" autocomplete="off">
						<div class="flex-row d-flex justify-content-center">
							<div class="col-lg-6 col-11">
								<div class="input-group input-daterange">
									<input type="text" class="form-control input1" id="checkin" placeholder="체크인" readonly> 
									<input type="text" class="form-control input2" id="checkout" placeholder="체크아웃" readonly>
								</div>
							</div>
						</div>
					</form>
				</div> 
				<script type="text/javascript" src="/js/calendar03.js">				
				</script> <!-- 달력에만 자바스크립트 적용 -->
				<form method="post" id="ex_date" name="ex_date" action="doService">
				인원 수 
				<input type="number" id="people01" min="1" max="8" placeholder="0"> 
				<input type="text" id="date_num" name="datename" value="" style="width:100px;" readonly>박
				</form>
<!-- 
				<select name="people01" style="width: 50px; height: 30px;">
					<option value=1 selected>1
					<option value=2>2
					<option value=3>3
					<option value=4>4
					<option value=5>5
					<option value=6>6
					<option value=7>7
					<option value=8>8
				</select>
-->
			</td>
		</tr>

		<tr>
			<td>
				<div align="center">
					<br>
					<!-- 예약하기 버튼 -->
					<button id="iamportPayment" onclick="location.replace='/bookRequest'"
						style="width: 100px; height: 40px; border-radius: 4px;">예약하기</button>
				</div> <br>
			</td>
		</tr>
	</table>

	<br>
	<br>
	<br>
	
<form class="bookrequest_form" action="/bookRequest" method="post"></form>

</body>
</html>