<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/common/layout.html :: head('peer')"/>
<th:block th:replace="/common/header.html :: header"/>
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">

<head>

<style>
.comment {
		margin-top: 150px;
		margin-bottom: 150px;
		
		font-family: 'NanumSquare';
		font-weight: bolder;
		font-size: 15pt;
	}
</style>

<meta charset="UTF-8">

<title>peer</title>
</head>
<body>
<div style="position: relative; min-height: 768px;">

	<div class="comment" align="center">
		<img src="/img/share/cancle.png" width="400px">
		<br><br>
		
		새로운 사람과 다시 여행을 준비해보세요!<br>
		<a style="font-size: 10pt;">
			잠시 후 자동으로 예약내역 페이지로 이동됩니다.
		</a>
	</div>
	
	<script>
		setTimeout("location.href='MyBooking.do'", 3000);
	</script>

</div>	
</body>

<th:block th:replace="/common/footer :: footer"></th:block>
</html>