<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/common/layout.html :: head('peer')"/>
<th:block th:replace="/common/header.html :: header"/>
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">

<head>

<style>
	.wrap {
		font-family: 'NanumSquare';
	}
	
	th {
		padding-bottom: 20px;
		padding-right: 10px;
		font-size: 12pt;
	}
	
	td {
		padding-bottom: 20px;
		padding-right: 10px;
		font-size: 10pt;
	}
	
	.None {
		font-weight: bolder;
		margin-top: 150px;
	}
	
	.banner {
		margin: auto;
	}
	
	.List {
		float: right;
		margin-right: 25%;
		
		font-family: 'NanumSquare';
	}
	
	
</style>

<meta charset="UTF-8">
<title>peer</title>
</head>
<body>
<div class="wrap" style="position: relative; min-height: 768px;">
	
	<div class="banner" align="center">
		<img align="top" src="/img/share/banner_mybooking.png" height="180px" ondragstart="return false">
	</div>
	
	<th:block th:if="${#lists.isEmpty(MyBooking)}">
	 <div class="None" align="center">
			예약내역이 존재하지 않습니다.
			<br><br>
			
			<input type="button" value="되돌아가기" 
				class="btn btn-light" onclick="history.go(-1)"/>
	 </div>
	</th:block>
	
		<table th:if="${not #lists.isEmpty(MyBooking)}" align="right" class="List">
			<tr align="center">
				<th>예약번호</th>
				<th>숙소이름</th>
				<th>체크인</th>
				<th>체크아웃</th>
				
			</tr>
		 <th:block th:each="mylist : ${MyBooking}">
		 
			<tr align="center">
				
				<td th:text="${mylist.book_num}"></td>
				<td th:text="${mylist.house_num}" style="padding-left: 150px; padding-right: 150px;"></td>
				<td th:text="${#dates.format(mylist.checkin, 'YYYY-MM-dd')}"></td>
				<td th:text="${#dates.format(mylist.checkout, 'YYYY-MM-dd')}"></td>
				<td>
				 <form method="post" action="Share.do">
					<input type="hidden" th:name="book_num" th:value="${mylist.book_num}">
					<input type="hidden" th:name="id" th:value="${id}">
					<input type="submit" class="btn btn-primary btn-sm" style="margin-left: 30px;" value="쉐어하기">
				 </form>	
				</td>
			</tr>
			
		 </th:block>	
		</table>
		
</div>
</body>

<!-- FOOTER -->
<th:block th:replace="/common/footer :: footer"></th:block>
</html>