<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<style>
	body {
		top: 50%;
		bottom: 50%;
		margin-top: 5%;
	}
</style>

<title>peer</title>
</head>
<body>


	<!-- 멤버 정보 보여주기 -->
	<div class="Content" align="center">
		<h3>
		쉐어요청을 하였습니다.<br>
		쉐어현황을 확인해보세요.
		<br>
		</h3>
	</div>
	
	<div class="Choice" align="center">
		<input type="button" value="예약내역" th:onclick="|location.href='@{MyBooking.do}'|"/>
		<input type="button" value="메인" th:onclick="|location.href='@{MyBooking.do}'|"/>
	</div>

</body>
</html>