<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Insert title here</title>
</head>
<body>

<h1>This is Index.html</h1><br>
<br>
<br>
  
<input type="button" value="test templeates" onclick="location.href='/test'">
<input type="button" value="로그인" onclick="location.href='/login'">

<form method="post" action="GetQueList.do">
	USER_NUM : 
	<input type="text" name="user_num">
	<input type="submit" value="쉐어하기">
</form>
 
</body>
</html>
