<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* head('메인 페이지') 수정하면 수정한 타이틀 들어갑니다 */-->
<th:block th:replace="/common/layout.html :: head('메인 페이지')"></th:block>
<th:block th:replace="/common/header :: header"></th:block>
<!--/* 사용 하는곳 */-->
<body style="position:relative">
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
메인페이지<br>
</body>

<body style="position:relative">
<th:block th:replace="/common/footer :: footer"></th:block>
</div>
</html>